.Quiz {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.Quiz__h1 {
  color: #fff;
  margin-left: 10px;
}
